<ion-header color="light" [translucent]="true">
  <ion-toolbar>
    <ion-title class="header-text">Bookmark</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
 
  <super-tabs>
    <super-tabs-toolbar color="light" slot="top" scrollable>
      <super-tab-button>
        <ion-label>General</ion-label>    
      </super-tab-button>
      <super-tab-button>
        <ion-label>Own</ion-label>    
      </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container>
      <super-tab>
        adsadsasdad
      </super-tab>
      <super-tab>
        asdadad
      </super-tab>
    </super-tabs-container>
  </super-tabs>
</ion-content>
