<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="backButton()" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
  <ion-row style="margin-top: -6px;">
    <ion-col size="6">
      <ion-item class="item-class">
        <ion-label>Catagory</ion-label>
        <ion-select>
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item class="item-class">
        <ion-label>Sort by</ion-label>
        <ion-select okText="Okay" cancelText="Dismiss">
          <ion-select-option value="1">View Count</ion-select-option>
          <ion-select-option value="2">Publish Date</ion-select-option>
          <ion-select-option value="3">Rating</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-header>
