<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="backButton()" defaultHref="/" style="margin-right: 5px;"></ion-back-button>
    </ion-buttons>
    <!-- <ion-searchbar></ion-searchbar> -->
    <mat-form-field class="example-full-width">
      <input matInput value="search">
    </mat-form-field>
    <ion-buttons (click)="filter()" slot="end">
      <ion-icon name="options" style="margin-right: 5px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
