<div *ngFor="let catagory of topCatagory">
  <div class="row" style="text-align:center" [ngStyle]="{'background-color': catagory.colorCode}">
    <small style="color: ghostwhite;">Top-5 {{catagory.name}}</small>
  </div>
  
  <div *ngFor="let item of topContents; let i = index">
    <ion-item *ngIf="item.catagoryId === catagory.id" style="background-color: ghostwhite;">
      <ion-avatar slot="start">
        <div  style="text-align:center">
          <span  [ngStyle]="{'background-color': item.colorCode}" class="dot">{{(i+1)%5 ==0? 5 : (i+1)%5 }}</span>
        </div>
      </ion-avatar>
      <ion-label>
        <h4><strong (click)="viewItem(item)">{{item.title}}</strong></h4>
        <small>{{item.providerName ===null? 'Admin' : item.providerName}},<strong [ngStyle]="{'color': item.colorCode}">{{item.catagoryName}}</strong></small>
        <div> <!-- <button mat-button (*ngIf)="item?.contentLikeStatus == 1"><span class="material-icons">
          favorite
          </span>{{item.totalLike}}</button> -->
          <button mat-button (click)="likeContent(item)" class="love-icon text-sm">
            <span *ngIf="item?.contentLikeStatus !== 1" class="material-icons">
            favorite_border
            </span>
            <span *ngIf="item?.contentLikeStatus === 1" class="material-icons">
              favorite
              </span>
            {{item.totalLike}}</button>
        <button mat-button class="comment-icon text-sm" (click)="viewItem(item)"><span class="material-icons">
          comment
          </span>{{item.totalComment}}</button>
          <button mat-button (click)="viewItem(item)" class="view-icon text-sm"><span class="material-icons">
            visibility
            </span> {{item.totalRead}}</button></div>
      </ion-label>
    </ion-item>
  </div>

</div>
