
   
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Mems</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ion-slides class="image-slider" [options]="slideOptsOne" loop="true">
          <ion-slide *ngFor="let item of memTypes">
            <ion-card  [routerLink]="['/explore/mem/type', item.id, item.name]" class="mem-card">
              <img style="height: 100px; width: 100px;" src="{{item.url}}" />
              <ion-card-header>
                <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </mat-card-content>
    </mat-card>