<mat-list>
  <mat-list-item style=" margin-bottom: 15px;">
    <img mat-list-avatar [src]="user.profilePicSrc" onerror="this.src='./assets/images/default_profile.png';" >
    <div mat-line><strong>{{user.name}}</strong> </div>
    <div mat-line style="font-size: 10px;"> {{user.email}} </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="menu-item">
    <mat-icon style="color:darkslategray;" mat-list-icon>notification_important</mat-icon>
    <div mat-line>Notification</div>
  </mat-list-item>
  <mat-list-item [routerLink]="['/book-mark']" class="menu-item">
    <mat-icon  style="color:green;" mat-list-icon>bookmarks</mat-icon>
    <div mat-line>Bookmark</div>
  </mat-list-item>
  <mat-list-item [routerLink]="['/dashboard/edit-profile']" class="menu-item">
    <mat-icon style="color:thistle;" mat-list-icon>person</mat-icon>
    <div mat-line>Edit Personal Info</div>
  </mat-list-item>
  <mat-list-item [routerLink]="['/dashboard/change-password']" class="menu-item">
    <mat-icon style="color:indigo;" mat-list-icon>account_circle</mat-icon>
    <div mat-line>Change Password</div>
  </mat-list-item>
  <mat-list-item (click)="logout()" class="menu-item">
    <mat-icon style="color:red;" mat-list-icon>exit_to_app</mat-icon>
    <div mat-line>Log out</div>
  </mat-list-item>
</mat-list>