<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Jokes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let item of totalContentsList; let i = index">
    <div  style="padding: 10px;">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <ion-avatar slot="start">
              <span [ngStyle]="{'background-color': getRandomColor()}" class="dot">{{i+1}}</span>
            </ion-avatar>
          </div>
          <mat-card-title>Ariful Islam</mat-card-title>
          <mat-card-subtitle>{{item.createdDateUtc | date}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{item.title}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div [innerHTML]="item.description"></div>
          </mat-expansion-panel>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button><span class="material-icons">
            favorite
            </span> 100</button>
          <button mat-button><span class="material-icons">
            comment
            </span>50</button>
            <button mat-button><span class="material-icons">
              visibility
              </span></button>
        </mat-card-actions>
      </mat-card>
    </div>


  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>