<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{headerName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="10">
      <ion-searchbar [(ngModel)]="text" (keyup.enter)="enterClick()" class="search"></ion-searchbar>
    </ion-col >
    <ion-col size="2">
      <button (click)="filterOption()" mat-mini-fab color="primary">
        <mat-icon>filter_list</mat-icon>
      </button>
    </ion-col>
  </ion-row>
  <div *ngFor="let item of totalContentsList; let i = index">
    <ion-item style="background-color: ghostwhite;">
      <ion-avatar slot="start">
        <div  style="text-align:center">
          <span  [ngStyle]="{'background-color': item.colorCode}" class="dot"><small>{{i+1}}</small></span>
        </div>
      </ion-avatar>
      <ion-label>
        <h4><strong>{{item.title}}</strong></h4>
        <small>{{item.providerName ===null? 'Admin' : item.providerName}},<strong [ngStyle]="{'color': item.colorCode}">{{item.catagoryName}}</strong></small>
        <p> <button mat-button><span class="material-icons">
          favorite
          </span>{{item.totalLike}}</button>
        <button mat-button><span class="material-icons">
          comment
          </span>{{item.totalComment}}</button>
          <button mat-button (click)="viewItem(item)"><span class="material-icons">
            visibility
            </span> {{item.totalRead}}</button></p>
      </ion-label>
    </ion-item>
  </div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
