.sc-ion-searchbar-ios-h {
    padding-left: unset;
    padding-right: unset;
    -webkit-padding-start: 2px!important;
    padding-inline-start: 8px!important;
    -webkit-padding-end: 4px!important;
    padding-inline-end: 9px!important;
}