<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-text">Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-row style="margin-top: 10%;">
      <ion-col offset="4" size="3">
        <span style="font-size: 48px; color: whitesmoke;" class="material-icons">
          enhanced_encryption
          </span>
      </ion-col>
    </ion-row>
    <form [formGroup]="changePasswordForm">
      <ion-row style="margin-top: 10%;">
        <ion-col offset="1" size="10">
          <mat-form-field  appearance="outline" >
            <mat-label>Current Password</mat-label>
            <input formControlName="password" matInput [type]="currHide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="currHide = !currHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="currHide">
            <mat-icon>{{currHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 1%;">
        <ion-col offset="1" size="10">
          <mat-form-field  appearance="outline" >
            <mat-label>New Passord</mat-label>
            <input matInput formControlName="newPassword" [type]="newHide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="newHide = !newHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="newHide">
            <mat-icon>{{newHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 1%;">
        <ion-col offset="1" size="10">
          <mat-form-field  appearance="outline" >
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPassword" [type]="conHide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="conHide = !conHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="conHide">
            <mat-icon>{{conHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 1%;">
        <ion-col offset="1" size="10">
          <ion-button [disabled]="!changePasswordForm.valid" (click)="changePasword()" expand="full" color="danger">Update</ion-button>
        </ion-col>
      </ion-row>
    </form>

</ion-content>
