<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container ml-2">
    <form [formGroup]="loginForm">
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="text" required></ion-input>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" type="password" required></ion-input>
      </ion-item>
  
      <ion-row>
        <ion-col>
          <ion-button [disabled]="!loginForm.valid" (click)="login()" color="danger" expand="block">Sign In</ion-button>
          <a [routerLink]="['/login/forgot-password']" class="small-text text-center">Forgot Password?</a>
        </ion-col>
      </ion-row>
    </form>
  </div>

</ion-content>