<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="backButton()" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>

  </div>
  <mat-card class="example-card mt-300">
    <mat-card-title>User Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" formControlName="email" matInput placeholder="email" >
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Passwors</mat-label>
          <input type="password" formControlName="password" matInput placeholder="password" >
        </mat-form-field>

        <p *ngIf="error" class="error">
          {{ error }}
        </p>

        <div class="button">
          <button type="submit" class="example-full-width" [disabled]="!loginForm.valid" (click)="login()" color="success" mat-raised-button>Login</button>
          <button type="submit" [routerLink]="['/login/registration']"   class="example-full-width" mat-raised-button color="primary" style="margin-top: 8px;">Sign Up</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</ion-content>
