<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{content?.catagoryName}}</ion-title>
    <ion-buttons class="ion-activatable ripple-parent" slot="end">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="card-container-center" (click)="markAsRead()"> {{content?.title}}
            <a *ngIf="content?.markAsReadStatus ===1" matTooltip="mark as unread?" style="font-size: 15px; color:rgb(163, 163, 7)" class="material-icons">
              sentiment_very_satisfied
            </a>
            <a *ngIf="content?.markAsReadStatus !==1" matTooltip="mark as read?" style="font-size: 15px; color:rgb(163, 163, 7)" class="material-icons">
              sentiment_very_dissatisfied
            </a>
          </mat-card-title>
          <mat-card-subtitle class="card-container-center">{{content?.providerName}}</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="card-container-center">
            <div [innerHTML]="content?.description"></div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <ion-row>
            <ion-col size="4">
              <a *ngIf="content?.contentLikeStatus !==1" matTooltip="liked" (click)="likedContent()" >
                <i  class="material-icons" style="font-size: 24px; color:red">favorite_border</i>  <span  class="small-font"> {{content?.totalLike}}</span>
              </a>
              <a *ngIf="content?.contentLikeStatus ===1" matTooltip="unliked" (click)="likedContent()" >
                <i  class="material-icons" style="font-size: 24px; color:red">favorite</i> <span class="small-font"> {{content?.totalLike}}</span> 
              </a> 
              <!-- <button *ngIf="content?.contentLikeStatus !==1" (click)="likedContent()"  mat-button color="warn" matTooltip="liked">
                <mat-icon>favorite_border </mat-icon><strong style="margin-left: 2px;">{{content?.totalLike}}</strong>
              </button> -->
              <!-- <button *ngIf="content?.contentLikeStatus ===1" (click)="likedContent()"  mat-button color="warn" matTooltip="unliked">
                <mat-icon>favorite</mat-icon><strong style="margin-left: 2px;">{{content?.totalLike}}</strong>
              </button> -->
            </ion-col>
            <ion-col size="4">
              <!-- <button   mat-button color="primary" matTooltip="comment">
                <mat-icon>comment</mat-icon><strong style="margin-left: 2px;">{{content?.totalComment}}</strong>
              </button> -->
              <a  matTooltip="comment"  >
                <i style="font-size: 24px; color:rgb(64, 99, 197)"  class="material-icons">comment </i> <span  class="small-font"> {{content?.totalComment}}</span>
              </a> 
            </ion-col>
            <ion-col size="4">
              <!-- <button   mat-button  matTooltip="view">
                <mat-icon>visibility</mat-icon><strong style="margin-left: 2px;">{{content?.totalRead}}</strong>
              </button> -->
              <a  matTooltip="comment"  >
                <i style="font-size: 24px; color:green"  class="material-icons">visibility </i> <span  class="small-font"> {{content?.totalRead}}</span>
              </a> 
            </ion-col>
          </ion-row>
        </mat-card-actions>
      </mat-card>
      <!-- <app-user-not-sign-in *ngIf="!isLogin"></app-user-not-sign-in> -->
      <mat-label>comments</mat-label>
      <app-user-comment [content] ="content"></app-user-comment>
</ion-content>
