<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <img mat-list-avatar [src]="user?.profilePicSrc" width="30px" onerror="this.src='./assets/images/default_profile.png';" >
      </div>
      <mat-card-title *ngIf="isLogin">{{user?.name}}</mat-card-title>
      <mat-card-title *ngIf="!isLogin">{{'User'}}</mat-card-title>
      <mat-card-subtitle *ngIf="isLogin">{{user?.email}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="!isLogin" [routerLink]="['/login']">{{'Sign In'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="commentForm">
        <mat-form-field appearance="outline">
          <textarea matInput formControlName="description" placeholder="Ex. It makes me feel..."></textarea>
          <button (click)="add()" [disabled]="!commentForm.valid"  mat-icon-button color="primary" matSuffix >
            <mat-icon>done</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </mat-card-content>
</mat-card>
<mat-card *ngFor="let comment of comments" class="example-card">
  <mat-card-header>
    <div mat-card-avatar>
      <img mat-list-avatar width="30px" [src]="comment?.profilePicSrc" onerror="this.src='./assets/images/default_profile.png';" >
    </div>
    <mat-card-title>{{comment?.name}} </mat-card-title>
    <mat-card-subtitle>{{comment?.commentDateTime | date}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{comment?.description}}</p>
    <ion-row *ngIf="comment?.userName ==user?.email">
      <ion-col size="12">
        <ion-button size="small" (click)="delete(comment)" color="danger"><ion-icon name="trash-outline"></ion-icon> Delete</ion-button>
        <!-- <ion-button size="small" (click)="edit()" ><ion-icon name="create-outline"></ion-icon>Edit</ion-button> -->
      </ion-col>
    </ion-row>
  </mat-card-content>
</mat-card>