/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-form-field {
    width: 100% !important;
    display: block !important;
    margin-top: 0.8em;
  }
  .mat-form-field-wrapper {
    padding-bottom: 0px;
  }
  .mat-form-field-outline {
    background: #fff !important;
    border-radius: 5px;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    top: 0.1em !important;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 5px 0 0.5em !important;
    font-size: 14px !important;
  }
  .mat-form-field-infix {
    height: 42px !important;
  }
  // input.mat-input-element {
  //     margin-top: -.0625em;
  // }
  .mat-form-field .mat-form-field-label-wrapper {
    top: -19px !important;
  }
  .mat-card-header .mat-card-title {
    font-size: 16px!important;
}
.mat-card-content, .mat-card-subtitle {
  font-size: 12px!important;
}
.searchbar-input {
  background: #FFF !important;
  border-radius: 10px !important;
  font-size: 1.0em !important;
  border: 1px solid transparent;
}
.mat-list-item-content{
  padding: 5px!important;
}
.label-font {
  font-size: 14px!important;
}