<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar class="search" (click)="searchModel()"></ion-searchbar>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <app-sliding-image></app-sliding-image>
  <app-home-catagory></app-home-catagory>
  <mat-tab-group  mat-stretch-tabs>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon style="color: green;font-size:18px; margin-top: 5px;" class="example-tab-icon">thumb_up</mat-icon>
        Top
      </ng-template>
      <app-top-story></app-top-story>
    </mat-tab>
    <mat-tab> 
      <ng-template mat-tab-label>
        <mat-icon style="color: blueviolet;font-size:18px; margin-top: 5px;" class="example-tab-icon">today</mat-icon>
        Recent
      </ng-template>
      <app-recently-add></app-recently-add>
    </mat-tab>
    <!-- <mat-tab> 
      <ng-template mat-tab-label>
        <mat-icon style="color: cornflowerblue; font-size:18px; margin-top: 5px;" class="example-tab-icon">assignment_ind</mat-icon>
        Your
      </ng-template>
      <app-your></app-your>
     </mat-tab> -->
  </mat-tab-group>
</ion-content>



