<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar class="search" (click)="searchModel()"></ion-searchbar>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <app-sliding-image></app-sliding-image>
  <app-home-catagory></app-home-catagory>
  <super-tabs>
    <super-tabs-toolbar slot="top" class="super-tabs">
      <super-tab-button>
        <ion-label>Top Story</ion-label>    
      </super-tab-button>
      <super-tab-button>
        <ion-label>Recenty Add</ion-label>    
      </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container>
      <super-tab>
        <ion-content>
          <app-top-story></app-top-story>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          <app-recently-add></app-recently-add>
        </ion-content>
      </super-tab>
    </super-tabs-container>
  </super-tabs>

</ion-content>



