<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar (click)="searchModel()"></ion-searchbar>
  <slideshow
  [imageUrls]="imageUrls"
  [height]="height"
  [minHeight]="minHeight"
  [arrowSize]="arrowSize"
  [showArrows]="showArrows"
  [disableSwiping]="disableSwiping"
  [autoPlay]="autoPlay"
  [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
  [debug]="debug"
  [backgroundSize]="backgroundSize"
  [backgroundPosition]="backgroundPosition"
  [backgroundRepeat]="backgroundRepeat"
  [showDots]="showDots"
  [dotColor]="dotColor"
  [showCaptions]="showCaptions"
  [captionColor]="captionColor"
  [captionBackground]="captionBackground"
  [lazyLoad]="lazyLoad"
  [hideOnNoSlides]="hideOnNoSlides"
  [fullscreen]="fullscreen"
 [imageUrls]="imageUrls"></slideshow>
 <mat-tab-group>
  <mat-tab label="Catagory">
    <app-home-catagory></app-home-catagory>
  </mat-tab>
  <mat-tab label="Popular"> Content 2 </mat-tab>
  <mat-tab label="New"> Content 3 </mat-tab>
</mat-tab-group>
</ion-content>
