<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="catagory.Jokes === Id">Jokes</ion-title>
    <ion-title *ngIf="catagory.ShortStory === Id">Short Story</ion-title>
    <ion-title *ngIf="catagory.SMS === Id">SMS</ion-title>
    <ion-title *ngIf="catagory.Other === Id">Other</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <mat-form-field appearance="outline" class="example-full-width" style="padding: 5px;">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search" (keyup)="search($event)">
  </mat-form-field>

  <div *ngFor="let item of subcatagories | filter: 'name': text">
    <ion-item [routerLink]="['/catagory/subcatagory/item/', item.id]" >
      <ion-avatar slot="start">
        <span [ngStyle]="{'background-color': getRandomColor()}" class="dot">{{item.name.substring(0,4)}}</span>
      </ion-avatar>
      <ion-label>
        <h2>{{item.name}}</h2>
        <h3>I'm a big deal</h3>
        <p>Reading,It will make your day...</p>
      </ion-label>
    </ion-item>
    </div>

</ion-content>

